{% load static %}
<!-- signup code -->
<script src="{%  static 'signup/vendor/jquery/jquery.min.js' %}"></script>
<script src="{%  static 'signup/js/main.js' %}"></script>

<!-- signin code -->

<!--===============================================================================================-->
<script src="{% static 'signin/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'signin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'signin/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signin//main.' %}"></script>

<!-- navbar code -->    

<script src="{% static 'nav/js/jquery.min.js' %}"></script>
<script src="{% static 'nav/js/popper.js' %}"></script>
<script src="{% static 'nav/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nav/js/main.js' %}"></script>